nltk==3.4.5
pandas==0.22.0
spacy==2.0.12
boto3==1.6.17
pytest==3.5.0
pytest-cov==2.5.1
h5py==2.6.0
codeclimate-test-reporter==0.2.1
ftfy==4.4.3
gensim==3.4.0
html5lib==0.9999999
python-dateutil<2.7.0,>=2.1
